<div class="graficos">
  <div class="header-graficos">
    <h2 class="titulo-pagina">Gráficos Dinâmicos</h2>
  </div>

  <div class="filter-bar">
    <div class="placeholder-300"></div>
    <div class="buttons-group">
      <button
        pButton
        icon="pi pi-home"
        label="Voltar para Home"
        class="p-button-outlined"
        [routerLink]="['/']"
      ></button>
    </div>
  </div>

  <div class="charts-wrapper">
    <div class="chart-card">
      <p-card styleClass="chart-card-content">
        <ng-template pTemplate="header">
          <h3 class="chart-title">Distribuição de Categorias</h3>
        </ng-template>

        <div class="chart-container">
          <canvas #pieChart></canvas>
        </div>
      </p-card>
    </div>

    <div class="chart-card">
      <p-card styleClass="chart-card-content">
        <ng-template pTemplate="header">
          <h3 class="chart-title">Sentimentos por Categoria</h3>
        </ng-template>

        <div class="chart-container">
          <p-select
            class="w-full mb-3"
            [options]="categorias"
            [(ngModel)]="categoriaSelecionada"
            (onChange)="atualizarGraficoSentimentosCategoria()"
            placeholder="Selecione uma categoria"
          >
          </p-select>

          <canvas #barChart></canvas>
        </div>
      </p-card>
    </div>

    <div class="chart-card">
      <p-card styleClass="chart-card-content">
        <ng-template pTemplate="header">
          <h3 class="chart-title">Volume Mensal de Tweets</h3>
        </ng-template>

        <div class="chart-container">
          <p-select
            class="w-full mb-3"
            [options]="anosDisponiveis"
            [(ngModel)]="anoSelecionado"
            (onChange)="atualizarGraficoMensalPorAno()"
            placeholder="Selecione um ano"
          >
          </p-select>

          <canvas #lineChart></canvas>
        </div>
      </p-card>
    </div>
  </div>

  <p-confirmPopup></p-confirmPopup>
</div>
