<div class="app-container">
  <!-- Sidebar fixada na esquerda -->
  <app-sidebar></app-sidebar>

  <!-- Área de conteúdo principal -->
  <div class="content-area">
    <div class="hero">
      <h1>Bem-vindo ao Projeto de Análise de Sentimentos</h1>
      <p>
        Monitoramento da opinião pública em redes sociais sobre serviços
        públicos.
      </p>
    </div>
    <div class="cards">
      <div class="card">
        <h2>Estatísticas</h2>
        <p>Veja dados e métricas de postagens.</p>
      </div>
      <div class="card">
        <h2>Insights</h2>
        <p>Descubra tendências e análises profundas.</p>
      </div>
      <div class="card">
        <h2>Relatórios</h2>
        <p>Visualize relatórios detalhados e gráficos.</p>
      </div>
    </div>
  </div>
</div>
