<div class="home-content">
  <div class="hero">
    <p-card
      header="Bem-vindo ao Projeto de Análise de Sentimentos"
      class="hero-card"
    >
      <p>
        Monitoramento da opinião pública em redes sociais sobre serviços
        públicos.
      </p>
      <ng-template pTemplate="footer">
        <button pButton label="Saiba Mais" class="p-button-outlined"></button>
      </ng-template>
    </p-card>
  </div>

  <div class="cards">
    <p-card header="Estatísticas" class="card">
      <p>Veja dados e métricas de postagens.</p>
      <ng-template pTemplate="footer">
        <button pButton label="Ver Detalhes" class="p-button-text"></button>
      </ng-template>
    </p-card>

    <p-card header="Insights" class="card">
      <p>Descubra tendências e análises profundas.</p>
      <ng-template pTemplate="footer">
        <button pButton label="Ver Insights" class="p-button-text"></button>
      </ng-template>
    </p-card>

    <p-card header="Relatórios" class="card">
      <p>Visualize relatórios detalhados e gráficos.</p>
      <ng-template pTemplate="footer">
        <button pButton label="Ver Relatórios" class="p-button-text"></button>
      </ng-template>
    </p-card>
  </div>

  <div class="extras">
    <p-card header="Próximos Componentes">
      <p>
        TEMPLATE TEMPLATE
      </p>
      <ng-template pTemplate="footer">
        <button pButton label="Explorar" class="p-button-outlined"></button>
      </ng-template>
    </p-card>
  </div>
</div>
